.Gradient-Box {
    display: flex;
    background: linear-gradient(to bottom right, var(--color1), var(--color2));
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    width: 100%;
    z-index: 1;
    margin: 100% 0;
}